<p id="notice"><%= notice %></p>
<h1> Account Detail </h1>
<p>
  <strong>Customer:</strong>
  <%= @account.customer.name %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @account.balance %>
</p>

<p>
  <strong>Account type:</strong>
  <%= @account.account_type %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %> |
<%= link_to 'New Transaction', new_transaction_path %>

<h1> Transactions </h1>
<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>Amount</th>
      <th>Transaction type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.account_id %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.transaction_type %></td>
        <td><%= link_to 'Show', transaction %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>        
      </tr>
    <% end %>
  </tbody>
</table>
